namespace BookManagement.Views.Books;
@model BookManagement.Models.Book

<div class="container">
    <h2>Book Details</h2>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">Title</dt>
                <dd class="col-sm-9">@Model.Title</dd>

                <dt class="col-sm-3">Author</dt>
                <dd class="col-sm-9">@Model.Author</dd>

                <dt class="col-sm-3">Genre</dt>
                <dd class="col-sm-9">@Model.Genre</dd>

                <dt class="col-sm-3">Publication Date</dt>
                <dd class="col-sm-9">@Model.PublicationDate.ToShortDateString()</dd>

                <dt class="col-sm-3">Description</dt>
                <dd class="col-sm-9">@Model.Description</dd>
            </dl>

            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>